$color-dark-blue: #08084e;
$color-dark-blue-1: #0b0b63;
$color-dark-blue-2: #1717a5;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-light: #eee;

$color-violet: #641082;

$color-red: #f12946;
